[Unit]
Description=SwiftApiWorkerBalances
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
Environment="LD_LIBRARY_PATH=/opt/swiftbot/lib"
ExecStart=/opt/swiftbot/bin/workers -w balances
ExecStop=/bin/kill -- $MAINPID
Restart=always
RestartSec=16

[Install]
WantedBy=multi-user.target
