[Unit]
Description=SwiftApi
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
Environment="LD_LIBRARY_PATH=/opt/swiftbot/lib"
ExecStart=/opt/swiftbot/bin/swift-arbitrage-api-node
ExecStop=/usr/bin/killall -9 /opt/swiftbot/bin/swift-arbitrage-api-node
Restart=always
RestartSec=15


[Install]
WantedBy=multi-user.target
